@model Rendszerfejl.Models.CommentModel

<header> @Html.Partial("~/Views/Shared/_navbar.cshtml")</header>
<h4>CommentModel</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p></p>
            <input type="hidden" name="id" value="@ViewBag.Message" />
            <p></p>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

