
main_core_test/obj/
main_core_test/.vs/
/main_core_test/.vs
/main_core_test/.vs
*.bin
*.bin
*.cache
*.cache
*.editorconfig
*.bin
/main_core_test/obj
*.props
/main_core_test/obj
*.cache
/main_core_test/.vs
main_core_test/obj/Debug/net8.0/main_core_test.GeneratedMSBuildEditorConfig.editorconfig
main_core_test/obj/Debug/net8.0/main_core_test.AssemblyInfoInputs.cache
main_core_test/obj/Debug/net8.0/main_core_test.AssemblyInfo.cs
main_core_test/.vs/ProjectEvaluation/main_core_test.projects.v7.bin
main_core_test/.vs/ProjectEvaluation/main_core_test.metadata.v7.bin
main_core_test/.vs/main_core_test/v17/DocumentLayout.json
main_core_test/.vs/main_core_test/v17/.suo
