
main_core_test/.vs/main_core_test/DesignTimeBuild/.dtbcache.v2
main_core_test/.vs/main_core_test/DesignTimeBuild/.dtbcache.v2
main_core_test/obj/Debug/net8.0/main_core_test.AssemblyInfoInputs.cache
main_core_test/obj/Debug/net8.0/main_core_test.AssemblyInfo.cs
main_core_test/.vs/main_core_test/FileContentIndex/e78d859a-75cc-4842-bd48-d5edbf20c8e7.vsidx
main_core_test/.vs/main_core_test/FileContentIndex/d33053b5-58d4-4d76-b3bc-528b762c7940.vsidx
main_core_test/.vs/main_core_test/FileContentIndex/a7b142b1-6b73-49e6-875f-2d0ac47ed4fd.vsidx
main_core_test/.vs/main_core_test/FileContentIndex/969496f3-bb7e-4381-ae95-111c43cc0d32.vsidx
main_core_test/.vs/main_core_test/FileContentIndex/80b20b5a-b30e-4665-a791-1d6c5faf9d8f.vsidx
main_core_test/.vs/main_core_test/FileContentIndex/40c5dd51-06b9-4edc-bc5f-1e50180aa7f7.vsidx
main_core_test/.vs/main_core_test/DesignTimeBuild/.dtbcache.v2
