<header> @Html.Partial("~/Views/Shared/_navbar.cshtml")</header>
<h4>Search form</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <p></p>
            <div class="form-group">
                <label class="control-label">Search for a Topic Type Name</label>
                <p></p>
                <input name="searchTerm" class="form-control"/>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


