@model Rendszerfejl.Models.UserModel

<h4>Please Login</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="ProcessLogin" method="post" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <p></p>
            <div class="form-group">
                <label asp-for="userName" class="control-label">Enter your username:</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="password" class="control-label">Enter your password:</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/webSocket.js"></script>